.App{
  margin: 30px;
  background-color: salmon;
  font-size: 20px;
  border-radius: 10px;
}


.searchDiv{
  border: 1px solid lightgrey;
  padding: 10px;
  border-radius: 5px;
}

.searchDiv label{
  text-align: start;
  font-weight: 400;

}

.searchDiv form{
  display: flex;
  flex-direction: column;
  height: 100px;
}

.searchDiv form input{
  height: 50px;
  margin: 5px;
  border-radius: 5px;
  font-size: 20px;
  text-align: start;
  padding: 0px;
  border-color: lightgrey;
}

.imageList{
  columns:250px 5;
  column-gap: 10px;
}
.imageListImg{
  width: 100%;
  margin-bottom: 10px;
}

